updatednoderedflow1.txt
[{"id":"b963a422.ce4138","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b6bcd230.9c9a6","type":"ui_form","z":"b963a422.ce4138","name":"","label":"","group":"d75ac4d1.d22848","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles ","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":false,"rows":null},{"label":"under-five deaths ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":400,"wires":[["69c1f14d.fb9b9"]]},{"id":"69c1f14d.fb9b9","type":"function","z":"b963a422.ce4138","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\n \n\n\n//following are required to receive a token\nvar apikey=\"eNZ6yYjWzFZ96xVL9JEfMIZcSbIu7jPuM0w5mJr3KW1O\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":140,"y":240,"wires":[["4c12875a.9c5fd8"]]},{"id":"3559c1d5.13c04e","type":"http request","z":"b963a422.ce4138","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d604a08a-8eac-4116-b877-3322068ff626/deployments/e26405fe-6888-475e-92f0-116659aa4e38/online","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":220,"wires":[["3048e070.f7ad6","ceaf2c7a.369fc"]]},{"id":"c6f43335.1167a","type":"debug","z":"b963a422.ce4138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":745,"y":53,"wires":[]},{"id":"ceaf2c7a.369fc","type":"function","z":"b963a422.ce4138","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":534,"y":89,"wires":[["c6f43335.1167a","4104c1bc.2f492"]]},{"id":"3048e070.f7ad6","type":"debug","z":"b963a422.ce4138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":280,"wires":[]},{"id":"d0ae2e5c.c28c2","type":"function","z":"b963a422.ce4138","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"d604a08a-8eac-4116-b877-3322068ff626\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\n\n\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[ 'Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population',' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["3559c1d5.13c04e"]]},{"id":"4c12875a.9c5fd8","type":"http request","z":"b963a422.ce4138","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":240,"y":75,"wires":[["d0ae2e5c.c28c2"]]},{"id":"4104c1bc.2f492","type":"ui_text","z":"b963a422.ce4138","group":"d75ac4d1.d22848","order":1,"width":0,"height":0,"name":"","label":"Final Prediction","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":160,"wires":[]},{"id":"d75ac4d1.d22848","type":"ui_group","z":"","name":"Default","tab":"79cfea30.73abf4","order":1,"disp":true,"width":"6","collapse":false},{"id":"79cfea30.73abf4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]